.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    'main'
    'menu';
  grid-template-rows: auto 4.2rem;
  overflow: hidden;
}

.main {
  grid-area: main;
  margin-bottom: 1rem;
  width: 100vw;
}

.menu {
  grid-area: menu;
  display: flex;
  justify-content: center;
  padding-right: 4rem;
}

p-speeddial {
  z-index: 1;
}

::ng-deep .p-speeddial-action {
  height: 4rem;
  width: 4rem;
}
