/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Robot', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.08rem;
  font-size: 16px;
  font-weight: 400;
}
