/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.08rem;
  font-size: 14px;
  font-weight: 400;
}

// Custom root styles

h1 {
  font-weight: bold;
  color: #000f8a;
}

.p-datatable .p-datatable-thead > tr > th {
  color: #000f8a;
}

/*
  Breakpoints:
   < 576 px   || < 36rem
   >= 576 px  || >= 36rem
   >= 768px   || >= 48rem
   > 992 px   || > 62rem
   >= 1200px  || >= 75rem
*/
